<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Meanbee_RackspaceCloudFiles>
            <version>0.0.1</version>
        </Meanbee_RackspaceCloudFiles>
    </modules>
    <global>
        <models>
            <meanbee_rackspacecloudfiles>
                <class>Meanbee_RackspaceCloudFiles_Model</class>
            </meanbee_rackspacecloudfiles>
        </models>
        <blocks>
            <meanbee_rackspacecloudfiles>
                <class>Meanbee_RackspaceCloudFiles_Block</class>
            </meanbee_rackspacecloudfiles>
        </blocks>
        <helpers>
            <meanbee_rackspacecloudfiles>
                <class>Meanbee_RackspaceCloudFiles_Helper</class>
            </meanbee_rackspacecloudfiles>
        </helpers>
        <events>
            <admin_system_config_changed_section_rackspace>
                <observers>
                    <rackspace_config_change>
                        <type>singleton</type>
                        <class>meanbee_rackspacecloudfiles/observer</class>
                        <method>observeConfigChange</method>
                    </rackspace_config_change>
                </observers>
            </admin_system_config_changed_section_rackspace>
            <meanbee_downloadable_product_controller_process_download>
                <observers>
                    <rackspace_config_change>
                        <type>singleton</type>
                        <class>meanbee_rackspacecloudfiles/observer</class>
                        <method>observeProcessDownload</method>
                    </rackspace_config_change>
                </observers>
            </meanbee_downloadable_product_controller_process_download>
        </events>
        <rewrite>
            <mbdd_download>
                <from><![CDATA[#^/downloadable/download/#]]></from>
                <to>/meanbee_rackspacecloudfiles/download/</to>
            </mbdd_download>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <rackspace_download>
                <use>standard</use>
                <args>
                    <module>Meanbee_RackspaceCloudFiles</module>
                    <frontName>meanbee_rackspacecloudfiles</frontName>
                </args>
            </rackspace_download>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <meanbee_rackspacecloudfiles>
                                            <title>Meanbee Rackspace Cloud Files Downloads Settings</title>
                                        </meanbee_rackspacecloudfiles>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <meanbee_rackspacecloudfiles>
                    <file>meanbee/rackspacecloudfiles.xml</file>
                </meanbee_rackspacecloudfiles>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <meanbee_rackspacecloudfiles>
            <general>
                <enabled>0</enabled>
            </general>
            <rackspace_options>
                <request_timeout>300</request_timeout>
            </rackspace_options>
            <developer>
                <log_enabled>0</log_enabled>
            </developer>
        </meanbee_rackspacecloudfiles>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Meanbee_RackspaceCloudFiles />
            </modules>
        </suite>
    </phpunit>
</config>
